BootShim/*.bin
BootShim/*.elf
ImageResources/*/nbgen
ImageResources/*/yang
ImageResources/*/yangbin
ImageResources/*/*.nbh
ImageResources/*/os.nb
ImageResources/*/*.bin
ImageResources/*/*.img
.vscode
workspace/Build/
