# HtcLeoPkg CI build on VSTS

trigger:
  branches:
    include:
    - main

pool:
  vmImage: ubuntu-latest

steps:
- script: sudo apt update 
  displayName: 'Update APT sources'

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.10'
    architecture: 'x64'
  displayName: Install correct Python

- script:  sudo apt -y install build-essential uuid-dev iasl git nasm crossbuild-essential-armel skales gcc-arm-none-eabi mkbootimg clang llvm lld python3-setuptools
  displayName: 'Install VSTS dependencies'

- script: sudo ln -sfn $(pwd) ../HtcLeoPkg
  displayName: Fix directory links

- script: |
      cd /home/vsts/work/1/
      git clone https://github.com/Tianocore/edk2.git --recursive --depth=1
      git clone https://github.com/tianocore/edk2-platforms.git --depth=1
  displayName: Clone sources

- script: |
    cd /home/vsts/work/1/edk2

    echo "Patching EDK2 Source"
    file="BaseTools/Source/C/GenFw/Elf32Convert.c"

    # Check if R_ARM_PC13 already exists
    if ! grep -q "case R_ARM_PC13:" "$file"; then
        # Insert after R_ARM_REL32
        sed -i '/case R_ARM_REL32:/a\        case R_ARM_PC13:' "$file"
        echo "Inserted 'case R_ARM_PC13:' after 'case R_ARM_REL32:'."
    else
        echo "'case R_ARM_PC13:' already exists. No changes made."
    fi

    file="MdeModulePkg/Universal/Disk/UnicodeCollation/EnglishDxe/UnicodeCollationEng.c"

    # Use sed to replace only if the "Status;" version exists
    if grep -q "EFI_STATUS  Status;" "$file"; then
        sed -i 's/EFI_STATUS  Status;/EFI_STATUS  Status = EFI_SUCCESS;/' "$file"
        echo "Replaced 'EFI_STATUS  Status;' with 'EFI_STATUS  Status = EFI_SUCCESS;'"
    else
        echo "Pattern not found, no changes made."
    fi

    make -C BaseTools/
  displayName: Patch and Build BaseTools

- script: |
      cd /home/vsts/work/1/HtcLeoPkg
      export PACKAGES_PATH=$PWD/home/vsts/work/1/edk2:$PWD/home/vsts/work/1/edk2-platforms:$PWD
      export WORKSPACE=$PWD/workspace
      . /home/vsts/work/1/edk2/edksetup.sh
      chmod a+x *.sh

- script: |
    ./build.sh -d All
  displayName: Build uefi for all platforms

- task: PublishBuildArtifacts@1
  displayName: 'Publish Htc Leo UEFI kernel'
  inputs: 
    pathtoPublish: /home/vsts/work/1/HtcLeoPkg/ImageResources/Leo/uefi.img
    artifactName: Htc Leo UEFI kernel

- task: PublishBuildArtifacts@1
  displayName: 'Publish Htc Leo UEFI NBH'
  inputs: 
    pathtoPublish: /home/vsts/work/1/HtcLeoPkg/ImageResources/Leo/LEOIMG.nbh
    artifactName: Htc Leo UEFI NBH

- task: PublishBuildArtifacts@1
  displayName: 'Publish Htc Schubert UEFI payload'
  inputs: 
    pathtoPublish: /home/vsts/work/1/HtcLeoPkg/ImageResources/Schubert/bootpayload.bin
    artifactName: Htc Schubert UEFI payload

- task: PublishBuildArtifacts@1
  displayName: 'Publish Htc Schubert UEFI kernel'
  inputs: 
    pathtoPublish: /home/vsts/work/1/HtcLeoPkg/ImageResources/Schubert/uefi.img
    artifactName: Htc Schubert UEFI kernel